<div class="well well-lg rules">
<h2 class="text-center">I. Общие правила игры</h2>

    <h3 class="text-center">Для получения максимальных результатов игроки должны Познакомиться с Правилами и Интерфейсом
        Игры до ее начала.</h3>
		<ol>
			<li>В Игре принимают участие команды, состоящие из нескольких человек.</li>
			<li>Для проведения Игры каждая Команда получает от Организаторов Планшет с установленным игровым приложением&nbsp;«СКОРОДУМ».</li>
			<li>Регистрация Команды, т.е. выбор ее названия и регистрация игроков команды осуществляется&nbsp;самими игроками&nbsp;в игровом приложении перед началом Игры.</li>
			<li>Игра начинается только после окончания Регистрации всех Команд.</li>
			<li>Игра будет состоять из ДВУХ РАУНДОВ по 10 вопросов в каждом.</li>
			<li>Ответы на вопросы осуществляется путем выбора одного правильного ответа из четырех вариантов, предложенных игровым приложением</li>
			<li>После выбора&nbsp;Командой варианта ответа, никакие дополнительные действия становятся невозможны.</li>
			<li>Все баллы, полученные Командой во время Игры, суммируются.</li>
			<li>Результаты игры отображаются в турнирной таблице в соответствии с набранными баллами</li>
			<li>Побеждает Команда, занявшая первое место в турнирной таблице.</li>
		</ol>


    <h2 class="text-center">II. ТИПЫ ВОПРОСОВ ИГРЫ</h2>
		<ol>
			<li>В Игре существуют два типов вопросов:
			<ul>
				<li>ОБЫЧНЫЙ вопрос. Для ответа на такой вопрос Команда должна выбрать один из 4-х вариантов ответов за отведенное на ответ время.</li>
				<li>Вопрос ЭКСПРЕСС. Вместо одного он содержит в себе три вопроса, Н все три вопроса необходимо ответить за то же самое время, которое отведено для ответа на ОБЫЧНЫЙ вопрос. Вопрос ЭКСПРЕСС может играться несколько раз за раунд.</li>
			</ul>
			</li>
		</ol>

    <h2 class="text-center">III. ПРАВИЛА НАЧИСЛЕНИЯ БАЛЛОВ</h2>
		<p>ЗА ОБЫЧНЫЕ ВОПРОСЫ</p>

			<ol>
				<li>Для выбора правильного ответа на поставленный вопрос, командам дается «45» секунд. Момент выбора ответа фиксируется остановкой&nbsp;таймера обратного отсчета в игровом приложении. При правильном ответе, количество зафиксированных секунд равно количеству заработанных командой баллов. Это&nbsp;так называемые&nbsp;БАЗОВЫЕ БАЛЛЫ.</li>
				<li>За&nbsp;три правильных ответа подряд базовые баллы, заработанные на последнем вопросе, утраиваются.</li>
				<li>Если Команда оказалась единственной, из всех участвующих в Игре, давшей верный ответ на вопрос, заработанные ей в этом вопросе базовые баллы утраиваются.</li>
			</ol>

		<p>ЗА ВОПРОСЫ ЭКСПРЕСС</p>

			<ol>
				<li>Если Команда отвечает верно на все 3 вопроса ЭКСПРЕССА, то сумма базовых баллов за все вопросы утраивается.</li>
				<li>Если хотя бы один из ответов был не верен, Команда получает 0 баллов.</li>
			</ol>



    <h2 class="text-center">IV. ИГРОВЫЕ ПОДСКАЗКИ</h2>
		<ol>
			<li>Во время ответа на вопрос, каждая команда имеет возможностьубрать 1 или 2 неверных ответа, нажав на кнопку «УБРАТЬ НЕВЕРНЫЙ ОТВЕТ».</li>
			<li>Каждый убранный вариант УМЕНЬШАЕТ НА ЧЕТВЕРТЬ базовые баллы, заработанные при правильном ответе на этот вопрос.</li>
			<li>Команда может воспользоваться игровой подсказкой ограниченное количество раз за раунд.</li>
		</ol>


    <h2 class="text-center">V. ИГРОВЫЕ ТАКТИКИ</h2>

	   <p>Игровое приложение &nbsp;предлагает игрокам две игровые тактики: «ПРОСТАЯ ИГРА» и «ОДИН ЗА ВСЕХ». Перед тем как будет озвучен очередной вопрос игры, Команда должна выбрать одну из тактик нажатием на соответствующую кнопку.</p>

			<ol>
				<li>«ПРОСТАЯ ИГРА» - это обычная игра, которая играется по правилам, описанным выше.</li>
				<li>«ТУРБО» удваивает все набранные Командой за игру баллы в случае правильного ответа; но в случае неверного ответа, Команда теряет половину баллов.</li>
				<li>«СТАВКА» предполагает, что Команда выберет ту команду, в чьи силы она верит. Время ответа при этом сокращается до 30 секунд раза, но: 
					<br>3.1.Если Команда, на которую была сделана ставка, ответит правильно, то поставившая на нее Команда получает  и свои, и ее баллы. <br>
					3.2.если Команда, на которую была сделана ставка, ответит неверно, то поставившая на нее Команда получите только свои баллы. <br>
					3.3.если Команда, сделавшая ставку, ответит неверно, то она не заработает баллы.
				<li>«ОДИН ЗА ВСЕХ» - игровая тактика, которая позволяет УТРОИТЬ базовые баллы, однако в игре «ОДИН ЗА ВСЕХ» участвует только один игрок команды. Остальные игроки должны покинуть игровой стол, и&nbsp;во избежание подсказки&nbsp;во время ответа находится вне поля зрения оставшегося игрока. Подсказка наказывается&nbsp;пропуском хода на следующий вопрос. Команда может воспользоваться тактикой «ОДИН ЗА ВСЕХ» ограниченное количество раз за раунд.&nbsp;</li>
			</ol>


</div>