<div class="well well-lg text-center intro">
    <div class="logo-big"></div>
    <div class="text-center">
        <span>
            Раунд {{currentStep.dumId + 1}}/{{currentStep.totalDums}},
            Вопрос {{currentStep.roundId + 1}}/{{currentStep.totalRounds}}
            <span class="label label-default" ng-show="roundOptions.isHiEndRound">Hi & End</span>
            <span class="label label-default" ng-show="roundOptions.isExpress">Скородум Блиц</span>
        </span>
    </div>
</div>