<div class="well well-lg rules">
<h2 class="text-center">Общие правила игры «Скородум»</h2>

    <h3 class="text-center">Для получения максимальных результатов игроки должны Познакомиться с Правилами и Интерфейсом
        Игры до ее начала.</h3>
    <ol>
        <li>В Игре принимают участие команды, состоящие из 1-6 человек.</li>
        <li>Количество игроков в командах за каждым столом должно быть <strong>одинаковым</strong></li>
        <li>Объединение игроков в Команду – дело самих игроков.</li>
        <li>Название Команды – выбор самих игроков.</li>
        <li>Для проведения Игры каждая Команда получает от Организаторов Планшет. В Игре все основные коммуникации между
            Ведущим и Командами осуществляются с использованием Планшета.
        </li>
        <li>Регистрация Команды осуществляется перед началом Игры самими игроками с помощью Планшета.</li>
        <li>Игра начинается после окончания Регистрации всех Команд.</li>
        <li>Игра может состоять из одной или нескольких частей (в дальнейшем – <strong>Раундов</strong>), разделенных
            перерывами произвольной продолжительности и наполненными любыми событиями (концертные номера, купание в
            бассейне, песни, пляски и т.п.).
        </li>
        <li>Один Раунд состоит из определенного количества <strong>Вопросов</strong> (<!-- 1 Вопрос = 1 вопрос,  -->если Вопрос
            называется <strong>«Скородум БЛИЦ»</strong>, то он состоит из 3-х вопросов)
        </li>
        <li>Свою готовность к игре в очередном Вопросе, Команда подтверждает нажатием кнопки <strong>«ПРОСТАЯ
            ИГРА»</strong>.
        </li>
        <li>Начисление баллов за каждый вопрос производится компьютером по строго заданным алгоритмам, описанным в
            <strong>ПРАВИЛАХ НАЧИСЛЕНИЯ БАЛЛОВ</strong>.
        </li>
        <li>По итогам каждой Игры вручаются Призы трем Командам, набравшим наибольшее количество баллов.</li>
        <li>Призовой фонд Игры состоит из призов и подарков, предоставляемых Организатором Игры и Спонсорами. Возможны
            дополнительные призовые номинации, заявленные Спонсорами и Организаторами игры.
        </li>
        <li>Применение игроками других гаджетов и использование подсказок от зрителей не допускается!</li>
        <li>Ведущий Игры это непререкаемый авторитет для всех игроков. Он разрешает все противоречия, возникающие во
            время Игры.
        </li>
    </ol>

    <h2 class="text-center">Правила начисления баллов</h2>
    <ol>
        <li>На ответ в каждом Вопросе Командам дается «Т» секунд. 1 секунда = 1 балл.</li>
        <li>Для ответа на вопрос Команда использует свой Планшет, на котором находятся 5 кнопок с вариантами ответа,
            одна из которых <strong>«ПРАВИЛЬНОГО ОТВЕТА НЕТ»</strong>.
        </li>
        <li>Чем БЫСТРЕЕ Команда нажимает на кнопку с правильным вариантом ответа на экране своего Планшета, тем БОЛЬШЕ
            очков получает. Например: Вы нажали на верный ответ через 3 секунды после включения Таймера, значит, Вы
            получаете («Т»-3) баллов. Это число является <strong>Базой</strong> для дальнейшего расчета баллов.
        </li>
        <li>Если правильным является ответ <strong>«ПРАВИЛЬНОГО ОТВЕТА НЕТ»</strong> и Команда выбирает его, то <strong>База</strong>
            умножается на <strong>1.5</strong>.
        </li>
        <li>Если правильные ответы Команды следуют друг за другом, то количество баллов за второй правильный ответ
            умножается на коэффициент <strong>1.1</strong>, за третий - на <strong>1.2</strong>, за четвертый - на
            <strong>1.3</strong> и т.д. Эта последовательность прерывается первым неверным ответом, или окончанием Игры,
            и возобновляется при возникновении 2-х правильных ответов, в Вопросах, следующих друг за другом.
        </li>
        <li>Если только одна Команда, из всех участвующих в Игре, дает верный ответ на вопрос Вопроса, то ее
            <strong>База</strong> умножается на <strong>3</strong>.
        </li>
        <li>Если за время, отведенное для ответа, ни одна из 5-ти кнопок не была нажата или был дан неверный ответ,
            Команда получает за Вопрос <strong>0 баллов.</strong></li>
        <li>Во время Вопроса Команда имеет возможность самостоятельно убрать 1 или 2 неверных ответа, нажав на экране
            Планшета кнопки <strong>«УБРАТЬ 1 ОТВЕТ»</strong> или <strong>«УБРАТЬ 2-Й ОТВЕТ»</strong>. Один убранный
            вариант влечет потерю ¼ от баллов, полученных за Вопрос, два убранных варианта - потерю ½ баллов. Команда
            может убрать за Раунд не более 4-х неверных ответов, но не более 2-х за Вопрос.
        </li>
        <li>После того, как Команда нажала на одну из 5-ти кнопок с вариантом ответа, никакие действия до окончания
            времени, отведенного на Вопрос, произведены быть не могут.
        </li>
        <li>Все баллы, полученные Командой по ходу Игры, складываются, начиная от первого Вопроса до финального.</li>
        <li>Побеждает Команда, у которой окажется наибольше сумма баллов после последнего Вопроса Игры.</li>
    </ol>

    <h2 class="text-center">«ОДИН ЗА ВСЕХ»</h2>

    <p>Перед очередным Вопросом, нажмите на планшете кнопку <strong>«ОДИН ЗА ВСЕХ»</strong> и Вам будет предоставлено
        время для того, чтобы все участники Команды, кроме одного покинули игровой стол. </p>

    <p>Баллы в этом случае начисляются следующим образом:</p>

    <p>За правильный ответ Команда получает умножение результата Вопроса на количество игроков Команды, за неправильный -
        0. </p>

    <p>Каждая Команда имеет возможность сыграть <strong>«ОДИН ЗА ВСЕХ»</strong> не более 2-х раз за Раунд.</p>

    <h2 class="text-center">«СТАВКА»</h2>

    <p>Перед очередным Вопросом, нажмите на планшете кнопку <strong>«СТАВКА»</strong>. Применение
        <strong>СТАВКАА</strong> сокращает на <strong>1/3</strong> время данное команде на ответ, автоматически
        превращая секунды в баллы, из которых формируется <strong>банк «СТАВКИ»</strong> данного Вопроса
        (<strong>=</strong> сумме баллов снятых со всех команд, объявивших <strong>«СТАВКУ»</strong> в данном Вопросе).
    </p>

    <p>Объявляя <strong>«СТАВКУ»</strong>, во всплывающем диалоговом окне на Планшете Команда выбирает команду соперника, против которой будет разыгран <strong>«СТАВКА»</strong>. </p>

    <p><strong>«СТАВКА» <u>сыграна</u></strong> если обе команды дадут правильный ответ, при этом баллы Команды,
        объявившей <strong>«СТАВКУ»</strong> рассчитываются так:</p>

    <p>(Баллы заработанные Командой) + (Баллы заработанные другой Командой, на которую объявлена
        <strong>«СТАВКА»</strong>) + (<strong>Банк «СТАВКИ»</strong>/N), где N = числу Команд удачно сыгравших
        <strong>«СТАВКУ»</strong> в данном Вопросе. </p>

    <p><strong>«СТАВКА» несыграна</strong> (т.е. Команда не получит доп. баллы за <strong>«СТАВКУ»</strong>) если она
        или другая Команда из этой пары даст неправильный ответ, при этом баллы Команды, ответившей верно,
        рассчитываются по стандартным правилам.</p>

    <p>Если все команды, объявившие <strong>«СТАВКУ» не сыграли</strong> его, то <strong>банк «СТАВКИ»</strong>
        накапливается и переходит на следующий Вопрос (a’la JackPot).</p>

    <p>Расчет баллов за сыгранный <strong>«СТАВКУ»</strong> производится в последнюю очередь при начислении очков за Вопрос.</p>

    <p>Команда имеет право сыграть <strong>«СТАВКУ»</strong> неограниченное количество раз за Игру.</p>

    <h2 class="text-center">«Скородум БЛИЦ»</h2>

    <p>Вопрос <strong>«Скородум БЛИЦ»</strong> играется 2 раза за Раунд и состоит из 3-х вопросов, они транслируются на
        экран один за другим, без перерывов и не дублируются ведущим. Время ответа на каждый вопрос составляет 1/3 от
        продолжительности Вопроса установленного в Игре.</p>

    <p>Если Команда отвечает ВЕРНО НА ВСЕ 3 ВОПРОСА, тогда суммарные баллы за Вопрос УМНОЖАЮТСЯ НА <strong>3</strong>.
        Если хотя бы один ответ был не верен, Команда получает <strong>0 баллов</strong>.</p>

    <h2 class="text-center">«Скородум HI-END»</h2>

    <p><strong>«Скородум HI-END»</strong> объявляется ведущим. При этом битва идет между Командой ЛИДЕРОМ (верхняя
        строчка турнирной таблицы) и ДВУМЯ Командами АУТСАЙДЕРАМИ (2-е нижние строчки таблицы), для остальных Команд
        игра идет по основным правилам.</p>

    <p>Если по результатам этого Вопроса АУТСАЙДЕРЫ в сумме набирают БОЛЬШЕ баллов чем ЛИДЕР, то баллы каждого
        аутсайдера, набранные в текущем Вопросе, УМНОЖАЮТСЯ НА 5, а ЛИДЕР получает <strong>0 баллов</strong>, как за
        неверный ответ! </p>

    <p>В противном случае, т.е. если АУТСАЙДЕРЫ в сумме набирают МЕНЬШЕЕ ИЛИ РАВНОЕ количество баллов, чем ЛИДЕР, расчет баллов происходит по
        основным правилам.</p>

    <h2 class="text-center">«ТРОЙНОЙ Скородум»</h2>

    <p>Если только ОДНА КОМАНДА дала ВЕРНЫЙ ОТВЕТ на вопрос Вопроса, то ее баллы за текущий Вопрос УМНОЖАЮТСЯ НА 3.</p>

</div>